.wrapper {
  margin-bottom: calc(var(--index) * 2);
}
/* VOK section with text in the middle*/
.info {
  font-size: calc(var(--index) * 1.2);
  font-weight: 600;
  color: var(--dark-grey);
  width: 70%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: calc(var(--index) * 5);
}
/* last section */
.after {
  width: 85%;
  padding: 0 calc(var(--index) * 3);
  margin-bottom: calc(var(--index) * 5);
  font-size: calc(var(--index) * 0.9);
  font-weight: 600;
  color: var(--grey);
}
