.analysisPage {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 15% 55% 30%;
  grid-template-areas: 'none left right';
}
.analysisPageLeft {
  padding: 0 calc(var(--index) * 2);
  grid-area: left;
}
.analysisPageRight {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  color: #fff;
  border-left: 2px solid var(--yellow);
  padding: calc(var(--index) * 4) 0;
  grid-area: right;
  background-color: var(--bg-green);
  position: relative;
}
.analysisPageRight_wrapper {
  position: sticky;
  height: max-content;
  top: auto;
  left: auto;
  background-color: var(--green);
  padding: calc(var(--index) * 2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: calc(var(--index) * 2);
  box-shadow: var(--box-shadow);
}
.title {
  color: var(--green);
  display: block;
  position: relative;
  font-weight: 700;
  font-size: calc(var(--index) * 1.2);
  margin-bottom: calc(var(--index) * 2);
  margin-right: calc(var(--index) * 1.5);
}
.title::after {
  content: '';
  width: 25%;
  height: 2px;
  background-color: var(--yellow);
  position: absolute;
  left: 0;
  bottom: -35%;
}
.smallDescription {
  font-size: calc(var(--index) * 0.75);
  line-height: calc(var(--index) * 1.5);
  margin-bottom: calc(var(--index) * 1.5);
  margin-right: calc(var(--index) * 1.5);
  color: var(--black);
}

.about {
  margin-bottom: calc(var(--index) * 1);
  font-weight: 700;
  color: var(--dark-green);
  display: block;
  position: relative;
}
.about::after {
  content: '';
  width: 10%;
  height: 1px;
  background-color: var(--yellow);
  position: absolute;
  left: 0;
  bottom: -75%;
  opacity: 0.5;
}
.aboutElement {
  display: block;
  font-size: calc(var(--index) * 0.75);
  line-height: calc(var(--index) * 1.5);
  color: var(--black);
  margin-right: calc(var(--index) * 1.5);
}
.aboutElement:last-child {
  margin-bottom: calc(var(--index) * 1.5);
}
.analysisArticle {
  font-size: calc(var(--index) * 0.5);
  letter-spacing: calc(var(--index) * 0.1);
  margin-bottom: calc(var(--index) * 1.5);
  color: var(--bg-color);
}
.price {
  font-size: calc(var(--index) * 0.75);
  margin-bottom: calc(var(--index) * 0.35);
}
.priceTitle {
  text-align: center;
  /* color: var(--yellow); */
  font-weight: 700;
  font-size: calc(var(--index) * 1.5);
  margin-bottom: calc(var(--index) * 1.5);
  border-bottom: 1px solid var(--yellow);
}
.time {
  font-size: calc(var(--index) * 0.65);
  margin-bottom: calc(var(--index) * 0.25);
}
.analysisPageRight .btn {
  /* background-color: var(--green); */
  padding: calc(var(--index) * 0.75);
  font-size: calc(var(--index) * 0.75);
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  border: 1px solid var(--bg-color);
  border-radius: calc(var(--index) * 8);
  margin-bottom: calc(var(--index) * 0.75);
  display: flex;
  align-items: center;
  box-shadow: 0 0 5px var(--light-grey);
}
.btn:hover {
  background-color: var(--dark-green);
  color: #fff;
  box-shadow: var(--box-shadow);
}
.btn:active {
  transform: translateY(1px);
}
.priceText {
  font-size: calc(var(--index) * 0.85);
  margin-bottom: calc(var(--index) * 1.5);
}
.analysAtHome {
  font-size: calc(var(--index) * 0.55);
  font-weight: 500;
  color: #ffffff88;
  text-decoration: underline;
  letter-spacing: calc(var(--index) * 0.08);
  text-transform: lowercase;
  cursor: pointer;
}
.analysAtHome:hover {
  transform: scale(1.005);
  color: #fff;
}
/* .add {
  position: sticky;
} */
.hidden {
  display: none;
}
.added {
  color: #fff;
  margin-bottom: calc(var(--index) * 1);
}
