.basket_wrapper {
  display: grid;
  grid-template-columns: 1fr calc(var(--index) * 18);
  grid-template-areas: 'l r';
  padding: 0 calc(var(--index) * 2);
  min-height: 70vh;
}

.basket {
  text-align: center;
  position: relative;
  margin-bottom: calc(var(--index) * 2);
  overflow: hidden;
}
.basket_title {
  grid-area: l;
  padding: 0 calc(var(--index) * 2);
}
.basket_main_information_wrapper {
  display: none;
}
@media (max-width: 768px) {
  .basket_wrapper {
    display: block;
    margin-bottom: 50px;
    padding: 0 5px;
  }
  .basket_main_information_wrapper {
    display: block;
  }
}
