/* item wrapper styles */
.navItemWrapper {
  position: relative;
  width: max-content;
  transition: transform 0.1s ease-in-out;
  will-change: transform;
}
/* link styles */
.navItemWrapper .navItem {
  color: #f1ecc6;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  font-size: calc(var(--index) * 0.8);
  margin-bottom: calc(var(--index) * 3);
  position: relative;
  text-align: center;
  cursor: pointer;
}
.navItemWrapper:hover .navItem {
  transform: translateY(-1px) scale(1.01);
  color: #f1ecc6;
  /* text-shadow: 0 0 5px var(--grey); */
}
.navItemWrapper:hover .navItem:active {
  text-shadow: none;
  transform: translateY(1px) scale(0.99);
  opacity: 0.3;
}
/* active link style */
.navItemWrapper .navItem_active {
  color: #73dbd0;
  text-shadow: 0 0 5px var(--grey);
}
.navItemWrapper:hover .navItem_active {
  text-shadow: none;
  transform: none;
  color: #73dbd0;
  text-shadow: 0 0 5px var(--grey);
  cursor: text;
}
/* line after item */
.navItem::after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  bottom: -90%;
  right: 0;
  background-color: #f1f1f1;
  z-index: 5;
  opacity: 0;
}
/* line on hover */
.navItemWrapper:hover .navItem::after {
  opacity: 0.4;
  animation: hover-navigation 1s ease;
}
/* line in active style */
.navItem_active::after {
  display: none;
}

/* links icon styles */
.navIcon {
  fill: var(--yellow);
  display: inline-block;
  font-size: calc(var(--index) * 1.5);
}
@keyframes hover-navigation {
  0% {
    transform: scaleX(-1);
  }
  100% {
    transform: scaleX(1);
  }
}
