/* wrapper */
.cup_wrapper {
  position: relative;
  height: calc(var(--index) * 18);
  padding: calc(var(--index) * 2) calc(var(--index) * 5);
  background-color: #dcebfb;
  border-radius: calc(var(--index) * 0.5);
  margin-bottom: calc(var(--index) * 5);
  overflow: hidden;
}
/* description */
.description {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(var(--index) * 1.2);
  line-height: calc(var(--index) * 1.4);
  font-weight: 700;
  color: var(--dark-grey);
}
.description span {
  color: var(--green);
  display: inline;
}
/* img */
.img {
  position: absolute;
  right: calc(var(--index) * 2);
  width: calc(var(--index) * 15);
  bottom: 0;
  opacity: 0.7;
}
@media (max-width: 425px) {
  .cup_wrapper {
    padding: 40px 20px;
    border-radius: 10px;
  }
  .description {
    width: 65%;
  }
  .img {
    right: 0;
  }
}
