.header_right_side {
  display: flex;
  position: relative;
  font-size: calc(var(--index) * 1.2);
  color: var(--dark-grey);
}
@media (max-width: 768px) {
  .header_right_side {
    display: none;
  }
}
