.actions {
  padding: calc(var(--index) * 2) calc(var(--index) * 4);
  background-color: var(--bg-color);
}
.actions h4 {
  color: var(--grey);
  font-weight: 600;
  font-size: calc(var(--index) * 1.5);
  margin-bottom: calc(var(--index) * 2);
}
