/* main aside container (with icons) */
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: calc(var(--index) * 5) 0;
  background-color: var(--bg-color);
  border-left: 1px solid var(--yellow);
  height: 100%;
  animation: show-info 3.5s ease-in-out;
}
@media (max-width: 425px) {
  .wrapper {
    display: none;
  }
}
/* brown aside hidden container */
.container {
  position: absolute;
  height: 100%;
  width: 25%;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(var(--index) * 5) calc(var(--index) * 1);
  background-color: var(--red);
  z-index: 10;
  border-left: 2px solid var(--yellow);
  color: #fff;
  text-align: center;
  animation: show-info 1s ease-in-out;
}
/* icons container styles */
.item_wrapper {
  background-color: var(--yellow);
  padding: calc(var(--index) * 0.5) calc(var(--index) * 0.8);
  font-size: calc(var(--index) * 1.5);
  font-weight: 900;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-bottom: calc(var(--index) * 1.5);
}
/* icons styles */
.infoIcon {
  fill: var(--yellow);
  display: inline-block;
  font-size: calc(var(--index) * 1.5);
}
/* hidden style */
.hidden {
  display: none;
  position: relative;
}
/* class for hidden aniimation */
.hideInfo {
  animation: hide-info 1.1s ease-in-out;
}

/* animations for show and hide blocks */

/* show block */
@keyframes show-info {
  0% {
    opacity: 0.3;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* hide block */
@keyframes hide-info {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}
