/* form main container */
.changeInfoContainer {
  position: relative;
  background-color: #fff;
  padding: calc(var(--index) * 2) calc(var(--index) * 2);
  border: 3px solid var(--green);
  box-shadow: var(--box-shadow);
  width: 70%;
  height: 80%;
}
/* closing icon styles */
.closeIcon {
  position: absolute;
  right: 4%;
  top: 7%;
  fill: var(--grey);
  font-size: calc(var(--index) * 0.8);
  cursor: pointer;
  transition: transform 0.2s ease;
  will-change: transform;
}
.closeIcon:hover {
  transform: scale(1.2);
}
.changeInfoContainer h3 {
  margin-bottom: calc(var(--index) * 1.2);
  color: var(--light-grey);
  font-size: calc(var(--index) * 1);
  cursor: pointer;
}
.info_table_row {
  font-weight: 600;
  color: var(--black);
  font-size: calc(var(--index) * 0.65);
  margin-bottom: calc(var(--index) * 0.75);
  cursor: pointer;
}
.info_table_row:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .changeInfoContainer {
    padding: 20px;
    width: 75%;
    text-align: left;
  }
  .closeIcon {
    right: 10px;
    top: 10px;
    fill: var(--grey);
    font-size: 12px;
    cursor: pointer;
    transition: transform 0.2s ease;
    will-change: transform;
  }
}
