/* achivments container */
.achivments {
  display: flex;
  justify-content: space-evenly;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 20%,
    rgba(252, 252, 252, 1) 51%,
    rgba(245, 245, 245, 1) 100%
  );
  padding: calc(var(--index) * 2);
  /* margin-bottom: calc(var(--index) * 3.5); */
}

/* achivment item */
.item_wrapper {
  margin-right: calc(var(--index) * 1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* achivments title */
.item_title {
  color: var(--dark-grey);
  font-weight: 700;
  font-size: calc(var(--index) * 1.5);
  text-align: center;
  display: inline-block;
  margin-right: calc(var(--index) * 0.5);
  margin-bottom: calc(var(--index) * 0.2);
}

/* achivments text */
.item_text {
  color: var(--light-grey);
  font-size: calc(var(--index) * 0.5);
  font-weight: 600;
  text-transform: uppercase;
}

/* icons */
.icon {
  font-size: calc(var(--index) * 1.3);
  text-align: center;
  fill: var(--green);
}
/* colors for icons */
.icon_pink {
  fill: #ecc9da;
}
.icon_red {
  fill: var(--brown);
}
@media (max-width: 426px) {
  .achivments {
    flex-wrap: wrap;
    padding: 20px 0;
    border-top: 1px solid var(--bg-color);
  }
  .item_wrapper {
    width: 30%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .item_wrapper:nth-child(4),
  .item_wrapper:nth-child(5) {
    margin-bottom: 0;
  }
  .item_title {
    font-size: 16px;
    margin-bottom: 5px;
    margin-right: 0;
  }

  .item_text {
    font-size: 8px;
    text-align: center;
  }
  .icon {
    font-size: 12px;
  }
}
