.wrapper {
  padding: calc(var(--index) * 1) calc(var(--index) * 4);
}
/* title */
.title {
  color: var(--black);
  font-size: calc(var(--index) * 1.7);
  font-weight: 700;
  margin-bottom: calc(var(--index) * 2);
}
/* all contacts blocks container */
.contacts_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* block */
.contact_wrapper {
  width: 47%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: calc(var(--index) * 2);
  background-color: var(--bg-header);
  border-radius: calc(var(--index) * 1);
  margin-bottom: calc(var(--index) * 2);
  color: var(--black);
  font-weight: 600;
}
/* card title */
.contact_title {
  font-size: calc(var(--index) * 1.2);
  font-weight: 700;
  margin-bottom: calc(var(--index) * 1.2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
/* icon in top & right */
.title_icon {
  fill: var(--dark-green);
  font-size: calc(var(--index) * 1.5);
}
/* list */
.list {
  font-size: calc(var(--index) * 0.7);
  line-height: calc(var(--index) * 0.8);
  margin-bottom: calc(var(--index) * 1.2);
}
.list_item {
  margin-bottom: calc(var(--index) * 0.5);
}
.list_item:last-of-type {
  margin-bottom: 0;
}
/* wrapper for phone and email */
.contacts {
  display: flex;
  justify-content: space-between;
  color: var(--dark-green);
  font-size: calc(var(--index) * 0.8);
  text-align: right;
}
.icon {
  margin-right: calc(var(--index) * 0.5);
}
@media (max-width: 768px) {
  .title {
    font-size: 26px;
  }
  .contact_wrapper {
    width: 49%;
  }
}
@media (max-width: 425px) {
  .wrapper {
    padding: 10px;
  }
  .title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .contacts_wrapper {
    flex-direction: column;
  }
  .contact_wrapper {
    width: 100%;
    padding: 20px;
  }
  .contact_title {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .title_icon {
    font-size: 25px;
  }
  .list {
    width: 85%;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 20px;
  }
  .list_item {
    margin-bottom: 15px;
  }
  .contacts {
    font-size: 10px;
  }
}
