.wrapper {
  margin-right: calc(var(--index) * 2);
}
/* analys id */
.analys_article {
  display: inline-block;
  font-size: calc(var(--index) * 0.65);
  margin-bottom: calc(var(--index) * 0.5);
  color: var(--light-grey);
}
/* analys title */
.analys_title,
a.analys_title {
  display: block;
  margin-bottom: calc(var(--index) * 2);
  font-size: calc(var(--index) * 1);
  font-weight: 700;
  color: var(--dark-green);
  transition: all 0.3s ease;
  will-change: transform;
}
a.analys_title:hover {
  color: var(--fv-green);
  transform: translateY(-1px);
}
a.analys_title:active {
  transform: translateY(1px) scale(0.99);
  opacity: 0.6;
}
/* if item without link */
.no_link:hover {
  cursor: text;
}
/* yellow line */
.analys_description::after {
  width: calc(var(--index) * 6);
  height: 2px;
  content: '';
  position: absolute;
  top: calc(var(--index) * -1);
  left: 0%;
  background-color: var(--yellow);
  z-index: 5;
  opacity: 0.5;
}
/* analys description */
.analys_description {
  color: var(--dark-grey);
  font-weight: 600;
  font-size: calc(var(--index) * 0.75);
  line-height: calc(var(--index) * 0.9);
  margin-bottom: calc(var(--index) * 1);
  position: relative;
}
/* time and 'at home' wrapper */
.small_info_wrapper {
  display: flex;
}
/* time and 'at home' */
.small_info {
  display: flex;
  align-items: center;
  color: var(--light-grey);
  font-size: calc(var(--index) * 0.65);
  font-weight: 600;
}
.small_info:first-child {
  margin-right: calc(var(--index) * 1);
}
.small_info_icon {
  font-size: calc(var(--index) * 1);
  margin-right: 2px;
}
/* experience (for cases with doctors) */
.analys_description_experience {
  font-size: calc(var(--index) * 0.65);
  color: var(--light-grey);
  margin-bottom: calc(var(--index) * 1);
}
@media (max-width: 425px) {
  .wrapper {
    margin-right: 15px;
  }
  .analys_article {
    font-size: 10px;
  }
  .analys_title,
  a.analys_title {
    font-size: 16px;
    line-height: 20px;
  }
  .analys_description,
  .analys_description_experience,
  .small_info {
    font-size: 10px;
    line-height: 14px;
  }
}
