.mobile_section {
  display: none;
}
.mobile_section_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links_wrapper {
  display: flex;
  align-items: flex-end;
}
@media (max-width: 926px) {
  .mobile_section {
    display: flex;
    flex-direction: column;
    background-color: #e0e6e9;
    margin-bottom: 0;
    padding: 10px 40px 20px 40px;
  }
}
@media (max-width: 425px) {
  .mobile_section {
    padding: 10px 20px;
  }
}
