/*  main text in hidden blocks styles */
.infoText {
  font-size: calc(var(--index) * 1);
  margin-bottom: calc(var(--index) * 1.5);
}
/* main information style */
.infoText span {
  display: inline-block;
  position: relative;
  font-size: calc(var(--index) * 1.5);
  margin-bottom: calc(var(--index) * 0.5);
}
/* yellow line */
.infoText span::after {
  width: 100%;
  height: 1px;
  content: '';
  position: absolute;
  bottom: -10%;
  right: 0%;
  background-color: var(--yellow);
  z-index: 5;
}
/* button styles */
.infoBtn {
  padding: calc(var(--index) * 0.5);
  border: 1px solid #fff;
  color: #fff;
  box-shadow: 5px 5px 5px #5a2323;
  border-radius: calc(var(--index) * 2);
  transition: transform 0.5s ease;
  will-change: transform;
}
.infoBtn:hover {
  transform: scale(1.05);
}
/* closing icon styles */
.closeIcon {
  position: absolute;
  right: 5%;
  top: 3%;
  fill: var(--yellow);
  font-size: calc(var(--index) * 1);
  cursor: pointer;
  transition: transform 0.2s ease;
  will-change: transform;
}
.closeIcon:hover {
  transform: scale(1.2);
}
/* container for goods sum or basket icon */
.mainInfoWrapper {
  background-color: var(--yellow);
  padding: calc(var(--index) * 0.5) calc(var(--index) * 0.8);
  border-radius: 50%;
  font-size: calc(var(--index) * 1.5);
  font-weight: 900;
  border: 1px solid #fff;
  margin-bottom: calc(var(--index) * 1.5);
}
/* icon styles */
.infoIcon {
  fill: var(--yellow);
  display: inline-block;
  font-size: calc(var(--index) * 1.5);
}
