/* back link */
.basket_header {
  margin-bottom: calc(var(--index) * 2);
  padding-left: calc(var(--index) * 2);
}
.basket_header .back {
  font-size: calc(var(--index) * 0.65);
  font-weight: 600;
  color: var(--light-grey);
  display: flex;
  align-items: center;
}
.back:hover {
  color: var(--green);
  transform: translateY(-1px);
}
.icon_back {
  margin-right: calc(var(--index) * 0.35);
  transform: translateX(10px);
  font-size: calc(var(--index) * 0.8);
  transition: all 0.5s ease;
  opacity: 0;
}
.basket_header .back:hover .icon_back {
  transform: translateX(-20px);
  opacity: 1;
}
/* title */

.title {
  font-size: calc(var(--index) * 2);
  line-height: calc(var(--index) * 1.9);
  font-weight: 700;
  margin-bottom: calc(var(--index) * 2.5);
  color: var(--dark-grey);
  position: relative;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title::after {
  width: 20%;
  height: 1px;
  content: '';
  position: absolute;
  bottom: -70%;
  left: 0%;
  background-color: var(--bg-green);
  z-index: 5;
}
/* clear bascet button */
a.clear_basket {
  font-size: calc(var(--index) * 0.75);
  font-weight: 700;
  color: var(--light-grey);
  margin-right: calc(var(--index) * 2);
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
}

.clear_basket {
  display: flex;
  align-items: center;
  display: inline-block;
}
.clear_basket:hover {
  color: var(--dark-green);
  transform: scale(1.01);
}
.clear_basket:active,
.back:active {
  transform: scale(0.99);
  opacity: 0.5;
}
.clear_basket_icon {
  font-size: calc(var(--index) * 1);
  margin-left: 7px;
}
