.actionsContainer {
  margin-bottom: calc(var(--index) * 4.5);
  padding: calc(var(--index) * 2);
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: var(--bg-color);
}

.actionsContainer::before {
  clip-path: polygon(
    50% 0%,
    83% 12%,
    100% 43%,
    94% 78%,
    68% 100%,
    32% 100%,
    6% 78%,
    0% 43%,
    17% 12%
  );
  width: 80%;
  height: 90%;
  position: absolute;
  background: rgb(42, 164, 151);
  background: radial-gradient(
    circle,
    rgba(42, 164, 151, 1) 0%,
    rgba(231, 245, 243, 1) 18%,
    rgba(239, 248, 247, 1) 27%,
    rgba(246, 251, 251, 1) 34%,
    rgba(253, 254, 254, 1) 46%,
    rgba(255, 255, 255, 1) 76%
  );
  content: '';
  top: 10%;
  right: 0;
  z-index: 0;
  display: block;
  /* /* opacity: 0.3; */
}
.actionsContainer h4 {
  text-align: center;
  margin-bottom: calc(var(--index) * 3.5);
  font-size: calc(var(--index) * 2);
  font-weight: 700;
  color: var(--fv-green);
  position: relative;
  /* text-shadow: 0 0 7px var(--bg-color); */
}
.actionsContainer h4::after {
  content: '';
  position: absolute;
  bottom: -50%;
  right: 25%;
  width: 50%;
  height: 1px;
  background-color: var(--light-grey);
}
.actionsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.action {
  z-index: 2;
  width: 25.1%;
  padding: calc(var(--index) * 1);
  border: 5px solid var(--light-grey);
  background-color: var(--bg-color);
  margin-bottom: calc(var(--index) * 2.5);
  border-radius: calc(var(--index) * 2);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  transition: transform 0.15s ease;
  border: 5px solid var(--light-grey);
}
.action:nth-child(4),
.action:last-child {
  margin-bottom: 0;
}
.action:hover {
  box-shadow: var(--box-shadow);
  cursor: pointer;
  background-color: #fff;
  /* border-color: var(--fv-green); */
  transform: scale(1.01);
}
.action strong {
  color: var(--dark-green);
  margin-bottom: calc(var(--index) * 0.5);
}
.action small {
  color: var(--grey);
  font-size: calc(var(--index) * 1);
  margin-bottom: calc(var(--index) * 0.8);
  font-weight: 700;
  text-decoration: underline;
}
.btn {
  display: block;
  background-color: var(--dark-green);
  font-size: calc(var(--index) * 0.7);
  padding: calc(var(--index) * 0.5);
  border-radius: calc(var(--index) * 0.5);
  border: 1px solid var(--light-grey);
  color: #fff;
}

.action:hover .btn {
  background-color: var(--light-green);
}
