.buttons .btnLeft {
  background-color: var(--light-green);
  color: #fff;
  font-weight: 600;
  margin-right: calc(var(--index) * 0.5);
  border: 1px solid var(--light-green);
}
.buttons .btnLeft:hover {
  background-color: var(--green);
}
.buttons .btnRight {
  background-color: #fff;
  color: var(--dark-grey);
  font-weight: 600;
  border: 1px solid #ebebeb;
}
.buttons .btnRight:hover {
  color: var(--dark-green);
  border-color: var(--bg-green);
}
.btn {
  display: inline-block;

  font-size: calc(var(--index) * 0.7);
  padding: calc(var(--index) * 0.7);
  border-radius: calc(var(--index) * 0.5);

  color: #fff;
}
