/* navbar wrapper */
.navbar {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  z-index: 20;
}
/* item with hidden links wrapper */
.navbar__item {
  position: relative;
  cursor: pointer;
  padding: calc(var(--index) * 0.35);
  color: var(--black);
}
/* item wrapper */
.navbar__item_wrapper {
  transition: transform 0.1s ease-in-out;
  will-change: transform;
}
.navbar__item:hover .navbar__item_wrapper {
  color: var(--dark-green);
}
/* animation hover */
@keyframes hover-navigation {
  0% {
    color: var(--light-grey);
    transform: scaleX(-1);
  }
  100% {
    color: var(--yellow);
    transform: scaleX(1);
  }
}

/* green line */
.navbar__item:hover::after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0%;
  background-color: var(--dark-green);
  z-index: 5;
  display: block;
  animation: hover-navigation 1s ease;
  opacity: 0.6;
}
/* link*/
.navbar__item_link {
  display: inline-block;
  text-transform: uppercase;
  margin-right: 3px;
  margin-bottom: 0;
  font-size: calc(var(--index) * 0.75);
  font-weight: 700;
}
.navbar__item:hover .navbar__item_link {
  transform: scale(1.01);
}
/* icon 'show more */
.navbar__item_icon {
  font-size: calc(var(--index) * 0.9);
  margin-bottom: -3px;
}
/* hidden links wrapper */
.moreInfo_middle {
  z-index: 50;
  position: absolute;
  top: 102%;
  left: -15%;
  width: calc(var(--index) * 18);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow);
  border-radius: calc(var(--index) * 0.5);
  animation: showMore 0.3s ease;
  transition: opacity 0.3s ease;
  will-change: opacity;
}
@media (max-width: 926px) {
  .navbar {
    display: block;
  }
  .navbar__item {
    display: none;
  }
}

/* for animation */
.hideMore {
  animation: hideMore 0.5s ease;
}
.hidden {
  display: none;
}
@keyframes showMore {
  0% {
    opacity: 0;
    top: 75%;
  }
  100% {
    opacity: 1;
    top: 99%;
  }
}
@keyframes hideMore {
  0% {
    opacity: 1;
    top: 99%;
  }
  100% {
    opacity: 0;
    top: 75%;
  }
}
