.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: calc(var(--index) * 2) calc(var(--index) * 1);
  width: calc(var(--index) * 12);
  height: calc(var(--index) * 11);
  background-color: var(--bg-color);
  border-radius: calc(var(--index) * 0.5);
  border: 2px solid var(--bg-green);
  cursor: pointer;
  transition: all 0.5s ease;
  will-change: transform;
}
.wrapper:hover {
  box-shadow: var(--box-shadow);
}
/* icon in top  */
.icon_wrapper {
  position: absolute;
  z-index: 5;
  top: -10%;
  left: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(var(--index) * 0.5);
  background-color: var(--bg-color);
  border-radius: 50%;
  border: 1px solid var(--bg-green);
  box-shadow: var(--box-shadow);
  /* opacity: 0; */
  animation: icons-appears 0.5s ease;
  transition: all 0.7s ease;
}
.wrapper:hover .icon_heart {
  fill: var(--brown);
}
.icon_heart {
  fill: var(--dark-green);
  font-size: calc(var(--index) * 1.2);
}
/* title */
.wrapper h4 {
  font-size: calc(var(--index) * 0.85);
  line-height: calc(var(--index) * 1.2);
  text-align: center;
  font-weight: 700;
  color: var(--black);
  text-transform: uppercase;
}
/* price */
.price {
  color: var(--green);
  border-bottom: 2px solid var(--bg-green);
  font-size: calc(var(--index) * 1.2);
  padding: calc(var(--index) * 0.5);
  font-weight: 700;
}
.wrapper:hover .price {
  color: var(--brown);
}
/* icon forward */
.icon_forward {
  font-size: calc(var(--index) * 1.3);
  fill: var(--light-green);
  transform: scale(0.9) translateX(-40px);
  transition: all 0.5s ease;
  opacity: 0;
}
.wrapper:hover .icon_forward {
  opacity: 1;
  transform: scale(1.4) translateX(50px);
  fill: var(--brown);
}

@keyframes icons-appears {
  0% {
    opacity: 0;
    transform: translateY(-90px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
