.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: calc(var(--index) * 2) calc(var(--index) * 1);
  width: calc(var(--index) * 15);
  min-height: calc(var(--index) * 11);
  background-color: #fdfdfd;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 20%,
    rgba(252, 252, 252, 1) 51%,
    rgba(245, 245, 245, 1) 100%
  );
  border-radius: calc(var(--index) * 0.75);
  border: 2px solid var(--light-grey);
  cursor: pointer;
  transition: transform 0.2s ease;
  will-change: transform;
  z-index: 10;
  box-shadow: var(--box-shadow);
  margin-bottom: calc(var(--index) * 2);
}
.wrapper:hover {
  transform: scale(1.01);
}
/* icon in top  */
.icon_wrapper {
  position: absolute;
  z-index: 5;
  top: -10%;
  left: 10%;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(var(--index) * 0.5);
  background-color: var(--bg-color);
  border-radius: 50%;
  border: 1px solid var(--bg-green);
  box-shadow: var(--box-shadow);
  animation: icons-appears 0.5s ease;
  will-change: transform;
}
.wrapper:hover .icon_heart {
  fill: var(--light-green);
}
.icon_heart {
  fill: var(--green);
  font-size: calc(var(--index) * 1.2);
}
/* title */
.wrapper h4 {
  font-size: calc(var(--index) * 0.85);
  line-height: calc(var(--index) * 1.2);
  text-align: center;
  font-weight: 700;
  color: var(--black);
  text-transform: uppercase;
}
/* price */
.price {
  color: var(--fv-green);
  border-bottom: 2px solid var(--light-grey);
  font-size: calc(var(--index) * 1.2);
  padding: calc(var(--index) * 0.5);
  font-weight: 700;
  margin-bottom: calc(var(--index) * 0.5);
}
.wrapper:hover .price {
  color: var(--green);
  border-color: var(--green);
}
/* icon forward */
.icon_forward {
  font-size: calc(var(--index) * 1.5);
  fill: var(--light-grey);
  transform: scale(1) translateX(0);
  transition: transform 0.5s ease;
  will-change: transform;
}
.wrapper:hover .icon_forward {
  transform: scale(1) translateX(50px);
  fill: var(--green);
}
@media (max-width: 926px) {
  .wrapper {
    width: 30%;
  }
  .price {
    color: var(--dark-green);
    border-color: var(--green);
  }
  .wrapper:hover .icon_forward,
  .icon_forward {
    transform: none;
    fill: var(--dark-green);
  }
}
@media (max-width: 425px) {
  .wrapper {
    width: 47%;
    height: auto;
    margin-bottom: 40px;
    padding: 25px 15px;
    border: 1px solid var(--green);
  }
  .wrapper:hover {
    transform: none;
  }
  .icon_wrapper {
    position: absolute;
    z-index: 5;
    top: -15%;
    left: 10%;
    box-shadow: 0px 0px 5px var(--light-grey);
  }
  .icon_heart {
    fill: var(--green);
    font-size: 20px;
  }
  .wrapper h4 {
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    margin-bottom: 5px;
  }
  .price {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 5px;
    color: var(--dark-green);
    border-bottom: 1px solid var(--light-green);
  }
  .wrapper:hover .price {
    color: var(--dark-green);
  }
  /* .icon_forward {
    display: none;
  } */
}
@keyframes icons-appears {
  0% {
    opacity: 0;
    transform: translateY(-90px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
