a.btn_order,
button.btn_order {
  display: inline-block;
  background-color: var(--green);
  color: #fff;
  padding: calc(var(--index) * 0.75) calc(var(--index) * 1);
  text-transform: uppercase;
  border-radius: calc(var(--index) * 0.5);
  font-size: calc(var(--index) * 0.8);
  width: fit-content;
  font-weight: 700;
}
a.btn_order:hover,
.btn_order:hover {
  transform: translateY(-1px);
  background-color: var(--dark-green);
  box-shadow: 0 0 10px var(--light-grey);
}
a.btn_order:active,
button.btn_order:active {
  transform: scale(0.99);
  opacity: 0.5;
}
@media (max-width: 767px) {
  a.btn_order,
  button.btn_order {
    font-size: calc(var(--index) * 1);
  }
}
@media (max-width: 425px) {
  a.btn_order,
  button.btn_order {
    font-size: 10px;
    padding: 8px 10px;
    margin-bottom: 15px;
  }
}
