/* main wrapper */
.adresses_page_wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;
  height: min-content;
  padding: calc(var(--index) * 2) calc(var(--index) * 4);
  background-color: var(--bg-color);
}

/* wrapper for hidden changing city */
.changeInfoWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  z-index: 50;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  animation: show-info 0.5s ease-in-out;
}
/* hidden  */
.hidden {
  display: none;
}
/* class for showing animation */
.showInfo {
  animation: show-info 0.5s ease-in-out;
}
/* class for hidden aniimation */
.hideInfo {
  animation: hide-info 0.6s ease-in-out;
}

/*
  
   animations for show and hide blocks
   
   */

/* show block */
@keyframes show-info {
  0% {
    opacity: 0;
    transform: translateX(-7%);
  }
  50% {
    opacity: 0.3;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* hide block */
@keyframes hide-info {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20%);
  }
}
