.wrapper {
  padding: calc(var(--index) * 1) calc(var(--index) * 4);
}
.title {
  color: var(--black);
  font-size: calc(var(--index) * 1.7);
  font-weight: 700;
  margin-bottom: calc(var(--index) * 2);
}
@media (max-width: 768px) {
  .title {
    font-size: 26px;
  }
}
@media (max-width: 425px) {
  .wrapper {
    padding: 10px;
  }
  .title {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
