/* wrapper */
.footer_wrapper {
  background-color: #dddddd;
  padding: calc(var(--index) * 3) calc(var(--index) * 4);
  display: grid;
  grid-template-columns: 20% 1fr;
  color: var(--black);
}
/* phones */
.footer_phones {
  margin-bottom: calc(var(--index) * 1.5);
}
/* phones title */
.phones_title {
  color: #404040;
  font-weight: 600;
  margin-bottom: calc(var(--index) * 0.65);
}
/* phones item */
.phones_item {
  font-size: calc(var(--index) * 1);
  color: #404040;
  font-weight: 900;
  margin-bottom: calc(var(--index) * 0.25);
  cursor: pointer;
}
.phones_item:last-child {
  margin-bottom: 0;
}
.phones_item:hover {
  color: #2c2c2c;
}
/* right side with links */
.footer_right {
  display: flex;
  justify-content: center;
}
/* all links wrapper */
.footer_links_wrapper {
  display: flex;
}
/* links container */
.footer_links_container {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer_links_container:first-child {
  margin-right: calc(var(--index) * 8);
}
/* right side  title */
.links_title {
  color: #2c2c2c;
  font-weight: 600;
  font-size: calc(var(--index) * 0.8);
  margin-bottom: calc(var(--index) * 1.5);
}
/* link */
.footer_links_container .footer_link {
  color: var(--dark-grey);
  margin-bottom: calc(var(--index) * 0.25);
  font-size: calc(var(--index) * 0.65);
}
.footer_links_container .footer_link:hover {
  color: #2c2c2c;
}
.footer_links_container .footer_link:active {
  opacity: 0.4;
}

@media (max-width: 767px) {
  .footer_wrapper {
    width: 100%;
    display: block;
    padding: 0;
    padding-bottom: 80px;
  }
  .footer_right {
    display: none;
  }
  .footer_left {
    display: none;
  }
}
