.logo_container {
  margin-right: calc(var(--index) * 0.25);
  padding-top: calc(var(--index) * 0.6);
  margin-bottom: calc(var(--index) * 1);
  font-family: Lato;
  text-align: center;
  color: var(--green);
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.logotype {
  color: var(--green);
  font-weight: 700;
  font-size: calc(var(--index) * 2);
  line-height: calc(var(--index) * 1);
  text-shadow: 1px 1px 1px var(--light-grey);
  margin-bottom: calc(var(--index) * 0.35);
  display: inline-block;
}
.logo_container small {
  font-size: calc(var(--index) * 0.35);
  color: var(--green);
  text-transform: uppercase;
  letter-spacing: calc(var(--index) * 0.13);
  word-spacing: calc(var(--index) * 0.1);
}
@media (max-width: 767px) {
  .logo_container small {
    display: none;
  }
  .logotype {
    font-size: 30px;
    padding: 5px;
    margin-bottom: 5px;
    line-height: 0;
  }
}
@media (max-width: 426px) {
  .logotype {
    font-size: 26px;
  }
}
