.logo_container {
  margin-right: calc(var(--index) * 0.25);
  padding-top: calc(var(--index) * 0.6);
  margin-bottom: calc(var(--index) * 1);
  text-align: center;
  color: var(--green);
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.logotype {
  font-family: 'Yeseva One', cursive;
  color: var(--green);
  font-weight: 700;
  font-size: calc(var(--index) * 2);
  line-height: calc(var(--index) * 1);
  margin-bottom: calc(var(--index) * 0.5);
  display: inline-block;
}
.logo_container small {
  font-size: calc(var(--index) * 0.3);
  color: var(--green);
  text-transform: uppercase;
  letter-spacing: calc(var(--index) * 0.13);
  word-spacing: calc(var(--index) * 0.1);
}
@media (max-width: 1180px) {
  .logo_container small {
    padding-left: 7px;
    font-size: 6px;
    font-weight: 600;
  }
  .logotype {
    text-align: left;
    font-size: 30px;
    padding: 5px;
    line-height: 0.5;
  }
}
@media (max-width: 426px) {
  .logotype {
    font-size: 30px;
  }
}
