/* all cards wrapper */
.prCards {
  z-index: 0;
  display: flex;
  justify-content: space-evenly;
  padding: 0 calc(var(--index) * 2.5);
  margin-bottom: calc(var(--index) * 1.2);
  cursor: pointer;
  width: 100%;
}
/* card wrapper */
.card_wrapper {
  width: calc(var(--index) * 17.78);
  height: calc(var(--index) * 13.3);
  overflow: hidden;
  margin-right: calc(var(--index) * 0.2);
  box-shadow: 0px 0px 10px var(--light-grey);
  position: relative;
  z-index: 0;
  border-radius: 5%;
}
.card_wrapper:hover {
  z-index: 0;
}
.card_wrapper:last-child {
  margin-right: 0;
}
/* img */
.img {
  width: 100%;
  height: 100%;
  transition: transform 0.7s ease;
  object-fit: cover;
}
.img:hover {
  transform: scale(1.11);
  z-index: 0;
}
/* wrapper of hidden information */
.more_information {
  z-index: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0;
  left: 0;
  padding: calc(var(--index) * 1.5);
  color: white;
  animation: hidden-info-appears 0.7s ease-in-out;
  border-radius: 5%;
}
/* green bg */
.more_information::before {
  z-index: -1;
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--green);
  opacity: 0.9;
  top: 0;
  left: 0;
}
/* pre title*/
.more_information small {
  font-size: calc(var(--index) * 1);
  margin-bottom: calc(var(--index) * 1);
  text-shadow: 0 0 7px var(--dark-grey);
  text-align: center;
  color: var(--bg-color);
  font-weight: 600;
  animation: hidden-info-appears 0.7s ease-in-out;
}
/* price */
.more_information h3 {
  font-size: calc(var(--index) * 2);
  font-weight: 700;
  color: var(--bg-color);
  text-shadow: 0 0 7px var(--dark-grey);
  margin-bottom: calc(var(--index) * 1.2);
  animation: hidden-info-appears 0.7s ease-in-out;
}
/* title */
.more_information h6 {
  margin-bottom: calc(var(--index) * 0.2);
  font-size: calc(var(--index) * 0.6);
  animation: hidden-info-appears 0.7s ease-in-out;
}
/* button */
.brown_btn {
  font-size: calc(var(--index) * 0.7);
  background-color: #a67244;
  color: var(--bg-color);
  padding: calc(var(--index) * 0.45) calc(var(--index) * 0.5);
  border: 1px solid var(--bg-color);
  border-radius: calc(var(--index) * 0.5);
  animation: hidden-info-appears 0.7s ease-in-out;
}
.brown_btn:hover {
  background-color: #825935;
  color: #fefdfa;
}
/* green button */
.more_information .brown_btn_privat {
  background-color: var(--bg-color);
  border: 1px solid var(--green);
  color: var(--green);
  padding: calc(var(--index) * 0.5);
  font-size: calc(var(--index) * 0.7);
  font-weight: 600;
}
.brown_btn_privat:hover {
  background-color: var(--bg-color);
  color: #10a46d;
  border-color: #10a46d;
}
/* classes for animaiton */
.hidden {
  display: none;
}
.hide_info {
  animation: hidden-info-hiding 0.7s ease-in-out;
}
@keyframes hidden-info-appears {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes hidden-info-hiding {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-200px);
    opacity: 0;
  }
}
