.wrapper {
  width: 100%;
  height: calc(var(--index) * 22);
  position: relative;
  display: grid;
  grid-template-columns: 45% 1fr;
  padding: calc(var(--index) * 3) calc(var(--index) * 5);
  overflow: hidden;
}
.bg_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: -1;
  transition: transform 1s ease;
}
.wrapper:hover .bg_img {
  transform: scale(1.1);
}
.carusel_wrapper {
  background-color: #ffffffe5;
  width: 90%;
  height: 100%;
  padding: calc(var(--index) * 2);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: calc(var(--index) * 2);
  position: relative;
  box-shadow: 0 0 5px var(--fv-green);
}
.title {
  color: var(--dark-grey);
  margin-bottom: calc(var(--index) * 2);
  font-size: calc(var(--index) * 1.5);
  text-align: center;
  font-weight: 700;
  position: relative;
}
.title::after {
  content: '';
  width: 100%;
  height: 2px;
  bottom: -40%;
  left: 0.2%;
  background-color: var(--dark-green);
  position: absolute;
  opacity: 0.7;
}
.title span {
  color: var(--dark-green);
}
.description {
  font-size: calc(var(--index) * 0.7);
  line-height: calc(var(--index) * 0.75);
  color: var(--grey);
  border-left: 2px solid #c9c9c9;
  padding: 0 0 0 calc(var(--index) * 1.5);
  border-color: var(--bg-green);
}
.icon_wrapper_left,
.icon_wrapper_right {
  color: var(--green);
  display: block;
  position: absolute;
  top: 45%;
  background-color: #ffffffc0;
  z-index: 5;
  padding: calc(var(--index) * 0.35);
  border: 1px solid var(--bg-green);
  border-radius: 50%;
  box-shadow: 0 0 5px var(--fv-green);
  font-size: calc(var(--index) * 1.5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  will-change: transform;
}
.icon_wrapper_left:hover,
.icon_wrapper_right:hover {
  transform: scale(1.03);
}
.icon_wrapper_left {
  left: -7%;
}
.icon_wrapper_right {
  right: -7%;
}
