/* section wrapper */
.wrapper {
  width: 100%;
  height: calc(var(--index) * 22);
  position: relative;
  display: grid;
  grid-template-columns: 45% 1fr;
  padding: calc(var(--index) * 3) calc(var(--index) * 5);
  overflow: hidden;
}
/* img */
.bg_img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: -1;
  transition: transform 1s ease;
}
.wrapper:hover .bg_img {
  transform: scale(1.1);
}
/* main carusel wrapper */
.carusel_wrapper {
  background-color: #ffffffe5;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: calc(var(--index) * 2);
  position: relative;
  border: 1px solid var(--green);
  box-shadow: var(--box-shadow);
}
/* carusel window */
.carusel_window {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
/* carusel container */
.all_items_container {
  display: flex;
  width: 300%;
  height: 100%;
  transition: transform 1s ease-in-out;
}
/* icons 'back' and 'forward' */
.icon_wrapper_left,
.icon_wrapper_right {
  color: var(--dark-green);
  display: block;
  position: absolute;
  top: 45%;
  background-color: #ffffffc0;
  z-index: 5;
  padding: calc(var(--index) * 0.35);
  border: 1px solid var(--bg-green);
  border-radius: 50%;
  box-shadow: 0 0 5px var(--fv-green);
  font-size: calc(var(--index) * 1.5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  will-change: transform;
}
.icon_wrapper_left:hover,
.icon_wrapper_right:hover {
  transform: scale(1.03);
}
.icon_wrapper_left {
  left: -7%;
}
.icon_wrapper_right {
  right: -7%;
}
@media (max-width: 425px) {
  .wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 60px 0;
    padding-left: 30px;
    height: auto;
    margin-bottom: 0;
  }
  .carusel_wrapper {
    width: 80%;
    height: auto;
  }
  .all_items_container {
    display: flex;
    width: 300%;
    height: 100%;
  }
}
