.personalAreaWrapper {
  display: grid;
  grid-template-columns: 20% 70% 10%;
  position: relative;
  overflow: hidden;
}
@media (max-width: 767px) {
  .personalAreaWrapper {
    display: flex;
    flex-direction: column;
  }
}
