/* main wrapper */
.adresses_page_wrapper {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  padding: calc(var(--index) * 1) calc(var(--index) * 4);
}
/* title styles */
.title {
  color: var(--black);
  padding: 0 calc(var(--index) * 1);
  font-size: calc(var(--index) * 1.7);
  line-height: calc(var(--index) * 2.3);
  font-weight: 700;
  margin-bottom: calc(var(--index) * 0.5);
}
/* content wrapper  */
.content_wrapper {
  display: flex;
  flex-direction: column;
}
.mobile {
  display: none;
}
@media (max-width: 425px) {
  .mobile {
    display: block;
    padding: 0 10px;
    margin-bottom: 20px;
  }
  .adresses_page_wrapper {
    padding: 10px;
    min-height: 70vh;
  }
  .title {
    margin-bottom: 10px;
  }
}
