.wrapper {
  padding: calc(var(--index) * 2);
  margin-bottom: calc(var(--index) * 2);
  text-align: left;
  margin-right: calc(var(--index) * 2);
  min-height: 70vh;
}

.wrapper h1 {
  font-size: calc(var(--index) * 2);
  line-height: calc(var(--index) * 1.9);
  font-weight: 700;
  margin-bottom: calc(var(--index) * 3);
  color: var(--black);
  position: relative;
}
@media (max-width: 767px) {
  .wrapper {
    margin-bottom: 0;
  }
}
.wrapper h1 span {
  display: inline-block;
  font-size: calc(var(--index) * 1.2);
  padding: calc(var(--index) * 0.2) calc(var(--index) * 0.5);
  background-color: var(--bg-grey);
  color: var(--dark-grey);
  border-radius: calc(var(--index) * 0.5);
  font-weight: 600;
}
.info {
  color: var(--black);
  font-size: calc(var(--index) * 0.7);
  font-weight: 700;
  margin-bottom: calc(var(--index) * 3);
}
