.msgContainer {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  z-index: 50;
  flex-direction: column;
}
.msgContainer h4 {
  color: var(--green);
  /* color: #f77ebb; */
  font-weight: 700;
  font-size: calc(var(--index) * 1.5);
  margin-bottom: calc(var(--index) * 1.5);
  text-transform: uppercase;
  /* text-decoration: underline; */
  animation: textAppear 0.7s ease-in-out;
}
.heart {
  fill: #f77ebb;
  font-size: calc(var(--index) * 3.5);
  margin-bottom: -7px;
  animation: heartBeating 0.7s alternate-reverse infinite ease;
}

@keyframes heartBeating {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes textAppear {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
