.loginWrapper {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #a3a3a3ec;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginContainer {
  padding: calc(var(--index) * 3);
  background-color: #fff;
  border-radius: calc(var(--index) * 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: var(--box-shadow);
}
.loginContainer h5 {
  font-weight: 700;
  margin-bottom: calc(var(--index) * 1.2);
  text-transform: uppercase;
  color: var(--dark-grey);
  font-size: calc(var(--index) * 1);
}
.loginContainer label {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: calc(var(--index) * 0.7);
  color: var(--light-grey);
  width: calc(var(--index) * 13);
}
.loginContainer label span {
  margin-bottom: calc(var(--index) * 0.3);
}
.loginContainer input {
  border: 1px solid var(--green);
  margin-bottom: calc(var(--index) * 1);
  border-radius: calc(var(--index) * 2);
  font-size: calc(var(--index) * 0.85);
  padding: 7px 10px;
  text-align: center;
  color: var(--black);
}
input:focus {
  box-shadow: 0 0 5px var(--light-grey);
}
.loginContainer button {
  margin-bottom: calc(var(--index) * 0.75);
}
.error {
  text-transform: lowercase;
  color: red;
  font-size: calc(var(--index) * 0.75);
  font-weight: 500;
  margin-bottom: calc(var(--index) * 0.5);
}
.loginContainer small {
  font-size: calc(var(--index) * 0.65);
  color: var(--light-grey);
  cursor: pointer;
  text-decoration: underline;
}
.loginContainer small:hover {
  color: var(--grey);
}
/* closing icon styles */
.closeIcon {
  position: absolute;
  right: 7%;
  top: 7%;

  fill: var(--grey);
  font-size: calc(var(--index) * 0.8);
  cursor: pointer;
  transition: transform 0.2s ease;
  will-change: transform;
}
.closeIcon:hover {
  transform: scale(1.2);
}
