.registrationWrapper {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #a3a3a3d8;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}
.registrationTitle {
  margin-bottom: calc(var(--index) * 2);
}
/* closing icon styles */
.closeIcon {
  position: absolute;
  right: 7%;
  top: 7%;
  fill: var(--grey);
  font-size: calc(var(--index) * 0.8);
  cursor: pointer;
  transition: transform 0.2s ease;
  will-change: transform;
}
.registrationContainer {
  padding: calc(var(--index) * 3);
  background-color: #fff;
  border-radius: calc(var(--index) * 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: var(--box-shadow);
}
.closeIcon:hover {
  transform: scale(1.2);
}

.registrationRow {
  display: flex;
  margin-bottom: calc(var(--index) * 0.75);
}
.registrationColumn {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}
.registrationColumn:first-child {
  margin-right: calc(var(--index) * 1);
}
.registrationContainer h5 {
  font-weight: 700;
  margin-bottom: calc(var(--index) * 1.2);
  text-transform: uppercase;
  color: var(--dark-grey);
  font-size: calc(var(--index) * 1);
  text-align: center;
  display: inline-block;
  position: relative;
}
/*  line after title */
.registrationContainer h5::after {
  width: 70%;
  height: 2px;
  content: '';
  position: absolute;
  bottom: -50%;
  right: 15%;
  background-color: var(--green);
  z-index: 5;
  opacity: 0.5;
}
.registrationContainer label {
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: calc(var(--index) * 0.7);
  color: var(--light-grey);
  margin-bottom: calc(var(--index) * 1);
}
.registrationContainer label span {
  margin-right: calc(var(--index) * 0.3);
}
select {
  border: 2px solid var(--bg-green);
  background-color: inherit;
  font-family: inherit;
  font-size: calc(var(--index) * 0.7);
  color: var(--grey);
  border-radius: calc(var(--index) * 0.5);
  padding: calc(var(--index) * 0.5) calc(var(--index) * 0.7);
}
select option {
  border-radius: calc(var(--index) * 2);
  color: var(--black);
}
.btnWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.error {
  text-transform: lowercase;
  color: red;
  font-size: calc(var(--index) * 0.75);
  font-weight: 600;
  margin-bottom: calc(var(--index) * 0.5);
}
