/* buttons wrapper */
.btn_wrapper {
  display: flex;
}
@media (max-width: 926px) {
  .btn_wrapper {
    display: none;
  }
}
/* white button */
a.btn_white {
  display: inline-block;
  margin-right: calc(var(--index) * 1);
  padding: calc(var(--index) * 0.65) calc(var(--index) * 0.5);
  font-size: calc(var(--index) * 0.5);
  background-color: #fff;
  color: var(--light-grey);
  border: 1px solid #f0f0f0;
  border-radius: calc(var(--index) * 0.3);
  font-weight: 600;
  text-transform: uppercase;
}
/* green button */
a.btn_green {
  padding: calc(var(--index) * 0.65) calc(var(--index) * 0.5);
  font-size: calc(var(--index) * 0.5);
  display: inline-block;
  background-color: var(--dark-green);
  color: #fff;
  color: var(--bg-color);
  margin-bottom: calc(var(--index) * 0.5);
  margin-right: 5px;
  border: 1px solid var(--dark-green);
  border-radius: calc(var(--index) * 0.3);
  font-weight: 600;
  text-transform: uppercase;
}
.btn_green:hover,
.btn_white:hover {
  transform: scale(1.02);
}
