/* block where people can order analys */
.order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
/* price */
.price {
  display: inline-block;
  font-weight: 700;
  font-size: calc(var(--index) * 1.5);
  margin-bottom: calc(var(--index) * 1);
  color: var(--green);
  text-align: center;
}

/* btn for ordering */
.btn {
  background-color: var(--green);
  padding: calc(var(--index) * 0.65) calc(var(--index) * 0.75);
  font-size: calc(var(--index) * 0.75);
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  width: max-content;
  border-radius: calc(var(--index) * 2);
  display: flex;
  align-items: center;
  margin-bottom: calc(var(--index) * 1.5);
  transition: all 0.3s ease;
  will-change: transform;
}
.btn:hover {
  background-color: var(--fv-green);
  box-shadow: 0 0 5px var(--light-grey);
  transform: translateY(-2px);
}
.btn:active {
  opacity: 0.5;
  box-shadow: 0 0 5px var(--light-grey);
  transform: translateY(1px);
}
.btn_icon {
  margin-right: 5px;
  font-size: calc(var(--index) * 1);
}
/* 'ordered' message  */
.hidden {
  display: none;
}
.added {
  position: absolute;
  color: var(--yellow);
  margin: calc(var(--index) * 1);
  padding: calc(var(--index) * 0.35) calc(var(--index) * 0.5);
  font-weight: 700;
  display: block;
  width: max-content;
  bottom: -10%;
  right: -30%;
  border: 1px solid var(--yellow);
  border-radius: calc(var(--index) * 0.3);
  box-shadow: var(--block-shadow);
  animation: showPage 0.5s ease-in-out;
}
@keyframes showPage {
  0% {
    opacity: 0;
    transform: translateY(-100%) scale(0.5);
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
