.basket_order {
  padding: calc(var(--index) * 7) calc(var(--index) * 1) 0
    calc(var(--index) * 1);
  height: 100%;
  width: 100%;
  border-radius: calc(var(--index) * 1);
  grid-area: r;
  position: relative;
  background-color: var(--bg-color);
}

/* green container */
.basket_price_view {
  background-color: var(--green);
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: calc(var(--index) * 1);
  padding: calc(var(--index) * 2) calc(var(--index) * 3);
  width: max-content;
}

/* city */
.order_city {
  color: #c4f0eb;
  font-size: calc(var(--index) * 1);
  margin-bottom: calc(var(--index) * 2);
}

/* price */
.order_price {
  color: var(--bg-color);
  font-size: calc(var(--index) * 1);
  margin-bottom: calc(var(--index) * 2);
}
.basket_order h2 {
  font-size: calc(var(--index) * 0.8);
  font-weight: 600;
  margin-bottom: calc(var(--index) * 0.5);
  color: var(--bg-color);
}
.basket_order h3 {
  color: #fff;
  font-size: calc(var(--index) * 2);
  position: relative;
  font-weight: 600;
}
@media (max-width: 768px) {
  .basket_order {
    display: none;
  }
  .basket_price_view {
    width: 50%;
    height: auto;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: var(--block-shadow);
  }
  .order_city {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .order_price {
    text-align: center;
    font-size: 10px;
    margin-bottom: 0;
  }
  .order_price h2 {
    margin-bottom: 5px;
  }
  .order_price h3 {
    font-size: 18px;
    font-weight: 700;
    padding: 0 3px;
    border-bottom: 1px solid var(--bg-color);
  }
}
.basket_order h3::after {
  content: '';
  width: 60%;
  height: 1px;
  bottom: -40%;
  left: 0.2%;
  background-color: #c4f0eb;
  position: absolute;
  opacity: 0.5;
}
