.App {
  position: relative;
}
.hidden {
  display: none;
}
.dialog_wrapper {
  position: fixed;
  right: 3%;
  top: 2%;
  z-index: 85;
  overflow: hidden;
  border-radius: calc(var(--index) * 0.5);
  box-shadow: var(--bow-shadow);
  animation: dialog-apears ease-in-out 0.6s;
}
.hide_dialog {
  animation: hide-dilaog ease-in-out 0.8s;
}
@media (max-width: 426px) {
  .dialog_wrapper {
    right: 2px;
    top: 2px;
  }
}
/* dialog appear animation */
@keyframes dialog-apears {
  0% {
    right: 0;
    opacity: 0;
  }
  100% {
    right: 3%;
    opacity: 1;
  }
}
/* hide dialog animation */
@keyframes hide-dilaog {
  0% {
    right: 3%;
  }
  100% {
    opacity: 0;
    right: -30%;
  }
}
