/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::placeholder {
  color: inherit;
  font-family: inherit;
}
input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type='text']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
  font-family: inherit;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}
button {
  background-color: inherit;
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

body {
  font-family: 'Montserrat', sans-serif;
}
li {
  list-style: none;
}
:root {
  --index: calc(1vw + 1vh);
  --brown: #37a42a;
  --green: #13a6ab;
  --bg-green: #dcebfb;
  --dark-green: #1a9397;
  --light-green: #0ebbc1;
  --fv-green: #13ab64;
  --grey: #507c99;
  --yellow: #f8c134;
  --light-grey: #90989a;
  --bg-color: #fcfcfe;
  --bg-color: #f5f9fc;
  --bg-grey: #dfe8ee;
  --bg-header: #f1f5f7;
  --red: #7d490e;
  --dark-grey: #455458;
  --black: #333e41;
  --box-shadow: 0px 5px 10px var(--dark-grey);
  --block-shadow: 0 0 10px var(--light-grey);
  --box-border: 2px solid var(--bg-grey);
  --title-fz: calc(var(--index) * 1.2);
}
a,
a:hover,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
}
