.license_info_wrapper {
  background-color: var(--bg-grey);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 calc(var(--index) * 2);
  border-radius: calc(var(--index) * 0.5);
  color: var(--black);
  font-size: calc(var(--index) * 0.7);
  margin-bottom: calc(var(--index) * 2);
}
.license_info_description {
  width: 50%;
  font-weight: 600;
}
.license_info_wrapper img {
  height: calc(var(--index) * 5);
}
