/* middle side wrapper */
.infoWrapper {
  padding: 0 calc(var(--index) * 2);
}
.infoWrapper strong {
  font-weight: 500;
  font-size: calc(var(--index) * 0.75);
}
@media (max-width: 767px) {
  .infoWrapper {
    width: 100%;
    padding: 10px 5px;
    text-align: center;
  }
}
