.linkWrapper .back {
  display: inline-block;
  color: var(--light-grey);
  font-size: calc(var(--index) * 0.75);
  font-weight: 600;
  margin-bottom: calc(var(--index) * 0.85);
}
@media (max-width: 768px) {
  .linkWrapper .back {
    font-size: calc(var(--index) * 1);
    margin-bottom: calc(var(--index) * 1.2);
  }
}
@media (max-width: 425px) {
  .linkWrapper .back {
    font-size: 12px;
    margin-bottom: 20px;
  }
}
