a.btn {
  display: inline-block;
  font-size: calc(var(--index) * 0.6);
  text-align: center;
  padding: 11px;
  border-radius: 4px;
  text-decoration: none;
}
.btn:hover {
  transform: translateY(-0.1px);
}
.btn:active {
  transform: translateY(0.5px);
}
