/* navigation */
.analysis_nav_wrapper {
  background-color: var(--green);
  height: 100%;
  border-right: 1px solid var(--yellow);
}
@media (max-width: 767px) {
  .analysis_nav_wrapper {
    display: none;
  }
}
.analysis_nav {
  position: sticky;
  top: 0;
  left: 0;
  padding: calc(var(--index) * 5) calc(var(--index) * 1);
  display: flex;
  align-items: center;
  flex-direction: column;
}
@keyframes showPage {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
